In [6]:
print("helloo")

helloo

<h1 align="center"> <strong>1️⃣ syntax_basics</strong> </h1>

> # **list comprehension**

```md
[expression for item in iterable]
```

In [7]:
squares = [x**2 for x in range(5)]
squares

[0, 1, 4, 9, 16]

In [8]:
evens = [x for x in range(10) if x % 2 == 0]
evens

[0, 2, 4, 6, 8]

In [9]:
words   = ["hello", "world"]
lengths = [len(word) for word in words]
lengths

[5, 5]

> # **ternary operator**

```md
Syntax : [on_true] if [expression] else [on_false] 
```

In [10]:
a, b = 10, 20
min = a if a < b else b
min

10

<h1 align="center"> <strong>2️⃣ io</strong> </h1>

> # **IP/OP**

In [13]:
name = input("Enter your name: ")
print(f"Hello, {name}! Welcome!")

Hello, Abdelrhman! Welcome!

In [14]:
# Single variable
s = "Bob"
print(s)

# Multiple Variables
s    = "Alice"
age  = 25
city = "New York"
print(s, age, city)

Bob
Alice 25 New York

In [17]:
# taking two inputs at a time
x, y = input("Enter two values: ").split()
print(f"Number of boys : {x}")
print(f"Number of girls: {y}")

Number of boys : 6
Number of girls: 7

In [18]:
# Prompting the user for input
age_input = input("Enter your age: ")

# Converting the input to an integer
age = int(age_input)

# Checking conditions based on user input
if age < 0:
    print("Please enter a valid age.")
elif age < 18:
    print("You are a minor.")
elif age >= 18 and age < 65:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

You are an adult.

In [21]:
n = input("How many roses?: ")
print(n , type(n))

55 <class 'str'>

In [22]:
# Taking input as int and typecasting to int
n = int(input("How many roses?: "))
print(n , type(n))

55 <class 'int'>

In [23]:
amount = 150.75
print(f"Amount: ${amount:.2f}")

Amount: $150.75

In [24]:
# Assigning value to variable
x = 10
print(x) 

# Removing the variable using del
del x

# Trying to print x after deletion will raise an error
print(x)  # Uncommenting this line will raise NameError: name 'x' is not defined

10

NameError: name 'x' is not defined

In [25]:
def f():
    asd = "I am local"
    print(asd)

f()

print(asd)  # This would raise an error since 'local_var' is not accessible outside the function

I am local

NameError: name 'asd' is not defined

<h1 align="center"> <strong>3️⃣ data_formatting</strong> </h1>

> # **JSON formmat**

In [ ]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age" : 30,
  "city": "New York"
}

# convert into JSON: if you have a Python object, you can convert it into a JSON string by using the json.dumps() method.
y = json.dumps(x)

print(y , "\n",type(y))   # JSON : string of dictionary

{"name": "John", "age": 30, "city": "New York"}
 <class 'str'>

In [27]:
print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [28]:
x = {
  "name"    : "John",
  "age"     : 30,
  "married" : True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets"    : None,
  "cars"    : [
      {"model": "BMW 230", "mpg": 27.5},
      {"model": "Ford Edge", "mpg": 24.1}
              ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [29]:
print(json.dumps(x, indent=1))

{
 "name": "John",
 "age": 30,
 "married": true,
 "divorced": false,
 "children": [
  "Ann",
  "Billy"
 ],
 "pets": null,
 "cars": [
  {
   "model": "BMW 230",
   "mpg": 27.5
  },
  {
   "model": "Ford Edge",
   "mpg": 24.1
  }
 ]
}

In [30]:
print(json.dumps(x, indent=4, sort_keys=True, ensure_ascii=False)) # Preserves special characters like accents or emojis.

{
    "age": 30,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ],
    "children": [
        "Ann",
        "Billy"
    ],
    "divorced": false,
    "married": true,
    "name": "John",
    "pets": null
}

In [32]:
# Your JSON data
data = {
    "name"      : "John",
    "age"       : 30,
    "married"   : True,
    "divorced"  : False,
    "children"  : ["Ann", "Billy"],
    "pets"      : None,
    "cars"      : [
            {"model": "BMW 230", "mpg": 27.5},
            {"model": "Ford Edge", "mpg": 24.1}
    ]
}

# Save as prettified JSON
with open("./data/output.json", "w") as f:
    json.dump(data, f, indent=4, sort_keys=False, ensure_ascii=False)

print("Prettified JSON saved to output.json")

Prettified JSON saved to output.json

In [33]:
# Open and read JSON file
with open("./data/output.json", "r") as f:
    data = json.load(f)

print(data ,"\n" ,type(data))

{'name': 'John', 'age': 30, 'married': True, 'divorced': False, 'children': ['Ann', 'Billy'], 'pets': None, 'cars': [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]}
 <class 'dict'>

<h1 align="center"> <strong>4️⃣ try & except and Modules</strong> </h1>

> # **try & except**
```md
The try block lets you test a block of code for errors.

The except block lets you handle the error.

The else block lets you execute code when there is no error.

The finally block lets you execute code, regardless of the result of the try- and except blocks.
```

In [35]:
del x

try:
  print(x)
except:
  print("> An exception occurred")

> An exception occurred

In [36]:
try:
  print(x)
except:
  pass

In [37]:
try:
  print(x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

Variable x is not defined

In [ ]:
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed

In [39]:
x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero

> # **What is a Module?**

```md
Consider a module to be the same as a code library.

A file containing a set of functions you want to include in your application.
```

In [40]:
import utils

utils.greeting("omar")

Hello, omar

In [ ]:
from utils import greeting

greeting("omar")

Hello, radwan

In [48]:
import utils as ui # use alias as

a = ui.greeting("omar")
a

Hello, omar

<div style="background: linear-gradient(135deg, #c90016, #8b000e); 
            color: #ffffff; 
            width: 100%; 
            height: 30px; 
            text-align: center; 
            font-weight: bold; 
            line-height: 30px; 
            margin: 15px 0; 
            font-size: 24px; 
            border-radius: 10px; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);">
    VIP info
</div>

```python 
# Run this cell once at the top of your notebook to enable automatic reloading of modules.
# This will ensure that any changes made to the module are reflected without needing to restart the kernel

%load_ext autoreload
%autoreload 2
```