> # ***args**

In [1]:
def adder(*num):
    sum = 0
    
    for n in num:
        sum = sum + n
    
    print(f"Sum : {sum}")

adder(3,5)
adder(4,5,6,7)
adder(1,2,3,5,6)

Sum : 8
Sum : 22
Sum : 17

In [3]:
def my_function(*kids):
  print(f"The youngest child is '{kids[2]}'")

my_function("Emil", "Tobias", "Linus")

The youngest child is 'Linus'

> # ****Kwargs**

In [6]:
def my_function(**kid):
  print(f"His last name is '{kid['lname']}'")

my_function(fname = "Tobias", lname = "Refsnes")

His last name is 'Refsnes'

In [18]:
def intro(**data):
    print(f"Data type of argument: {type(data)}")
    print("-"*40)
    
    for key, value in data.items():
        print(f'{key:<10} is {value}')
    print()

intro(Firstname="ahmed", Lastname="ibrahim", Age=25, Phone=1234567890)
intro(Firstname="mohamed", Lastname="fawzi", Email="fawzi@hotmail.com", Country="france", Age=25, Phone=9876543210)

Data type of argument: <class 'dict'>
----------------------------------------
Firstname  is ahmed
Lastname   is ibrahim
Age        is 25
Phone      is 1234567890

Data type of argument: <class 'dict'>
----------------------------------------
Firstname  is mohamed
Lastname   is fawzi
Email      is fawzi@hotmail.com
Country    is france
Age        is 25
Phone      is 9876543210

In [19]:
def my_func(*args, **kwargs):
    print(f"Positional : {args}")
    print(f"Keyword    : {kwargs}")

my_func(1, 2, name="Alice", age=25)

Positional : (1, 2)
Keyword    : {'name': 'Alice', 'age': 25}

> # **Higher order builtin functions**


1- Some of the built-in higher order functions that we cover in this part are map(), filter, and reduce. 

2- Lambda function can be passed as a parameter and the best use case of lambda functions is in functions like map, filter and reduce.


> ###  **1️⃣ map function**

```md
The map() function is a built-in function that takes a function and iterable as parameters.

syntax : map(function, iterable)
```

In [20]:
def sum(x,y):
    return x + y

sum (3,5)

8

In [21]:
summation = lambda x,y:x+y
summation(3,5)

8

In [22]:
numbers = [1, 2, 3, 4, 5] # iterable

def square(x):
    return x ** 2

numbers_squared = map(square, numbers)

print(numbers_squared)          # <map object at 0x...> this is address of the map object
print(type(numbers_squared))    # <class 'map'>
print(list(numbers_squared))    # [1, 4, 9, 16, 25]

<map object at 0x000001FC904F3250>
<class 'map'>
[1, 4, 9, 16, 25]

In [23]:
list = [1,2,3,4]
list.append([12,32])

print(list)    # [1, 2, 3, 4, [12, 32]]
print(list[-1][1])

[1, 2, 3, 4, [12, 32]]
32

In [24]:
list = [1,2,3,4]
list.extend([12,32])

print(list)
print(list[-1])

[1, 2, 3, 4, 12, 32]
32

In [27]:
# Lets apply it with a lambda function
del list

numbers_squared = map(lambda x : x ** 2, numbers)
print(list(numbers_squared))    # [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [28]:
# Lets apply it with a lambda function
numbers_squared = list(map(lambda x : x ** 2, numbers))
print(numbers_squared)

[1, 4, 9, 16, 25]

In [29]:
numbers_str = ['1', '2', '3', '4', '5']  # iterable
numbers_int = map(int, numbers_str)
print(list(numbers_int))    # [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [30]:
names = ['Asabeneh', 'Lidiya', 'Ermias', 'Abraham']  # iterable

def change_to_upper(name):
    return name.upper()

names_upper_cased = map(change_to_upper, names)
print(list(names_upper_cased))    # ['ASABENEH', 'LIDIYA', 'ERMIAS', 'ABRAHAM']

['ASABENEH', 'LIDIYA', 'ERMIAS', 'ABRAHAM']

In [31]:
# Let us apply it with a lambda function
names_upper_cased = map(lambda name: name.upper(), names)
print(list(names_upper_cased))    # ['ASABENEH', 'LIDIYA', 'ERMIAS', 'ABRAHAM']

['ASABENEH', 'LIDIYA', 'ERMIAS', 'ABRAHAM']

In [32]:
# Let us apply it with a lambda function
names_upper_cased = map(lambda name: name.lower(), names)
print(list(names_upper_cased))    # ['asabeneh', 'lidiya', 'ermias', 'abraham']

['asabeneh', 'lidiya', 'ermias', 'abraham']

> ### **2️⃣ filter function**
```md
1- The filter() function calls the specified function which returns boolean for each item of the specified iterable (list). 

2- It filters the items that satisfy the filtering criteria.

3- syntax : filter(function, iterable)
```

In [33]:
# Lets filter only even nubers
numbers = [1, 2, 3, 4, 5,6,7,8,9,10]  # iterable

def is_even(num):
    if num % 2 == 0:
        return True
    return False

even_numbers = filter(is_even, numbers)
print(list(even_numbers))       # [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [34]:
numbers = [1, 2, 3, 4, 5,6,7,8,9,10]  # iterable

def is_odd(num):
    if num % 2 != 0:
        return True
    return False

odd_numbers = filter(is_odd, numbers)
print(list(odd_numbers))       # [1, 3, 5, 7, 9]

[1, 3, 5, 7, 9]

In [35]:
# Filter long name
names = ['Asabeneh', 'Lidiya', 'Ermias', 'Abraham']  # iterable
def is_name_long(name):
    if len(name) > 7:
        return True
    return False

long_names = filter(is_name_long, names)
print(list(long_names))         # ['Asabeneh']

['Asabeneh']

> ### **3️⃣ reduce function**
```md
1- The reduce() function is defined in the functools module and we should import it from this module. 

2- Like map and filter it takes two parameters, a function and an iterable. 

3- However, it does not return another iterable, instead it returns a single value. 
```

In [36]:
from functools import reduce

In [37]:
numbers_str = ['1', '2', '3', '4', '5']  # iterable
def add_two_nums(x, y):
    return int(x) + int(y)

total = reduce(add_two_nums, numbers_str)
print(total)    # 15

15