> # **syntax error**

In [1]:
print 'hello world'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2134528244.py, line 1)

In [4]:
print()'hello world')

SyntaxError: unmatched ')' (333769700.py, line 1)

#

In [3]:
print('hello world')

hello world

> # **indentation error**

In [32]:
for i in range(4):
    print(i)

0
1
2
3

#

> # **Name error**

In [1]:
print(age)

NameError: name 'age' is not defined

#

In [2]:
age  = 10
print(age)

10

> # **type error**

In [ ]:
 4 + '3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
print( 4 + int('3'))
print( 4 + float('3'))

7
7.0

> # **index error**

In [11]:
list = [ 1,2,3,4]
# index  0,1,2,3      positive index
#index  -4,-3,-2,-1   negative index
print(list[5])

IndexError: list index out of range

In [12]:
print(list[3])

4

> # **module not found error**

In [13]:
import maths

ModuleNotFoundError: No module named 'maths'

In [14]:
import math

> # **import error**

In [ ]:
from math import power

ImportError: cannot import name 'power' from 'math' (unknown location)

In [ ]:
from math import pow

pow(2,3)

8.0

> # **attribute error**

In [15]:
import math

math.PI

AttributeError: module 'math' has no attribute 'PI'

#

In [16]:
math.pi

3.141592653589793

> # **key error**

In [17]:
users = {'name':'Asab', 'age':250, 'country':'Finland'}

users['city']

KeyError: 'city'

In [18]:
users['country']

'Finland'

> # **value error**

In [23]:
int('12a')

ValueError: invalid literal for int() with base 10: '12a'

In [24]:
int('12.2')

ValueError: invalid literal for int() with base 10: '12.2'

In [26]:
int(float('12.2'))

12

In [25]:
int('115')

115

> # **zero division error**

In [27]:
1/0

ZeroDivisionError: division by zero